<!doctype html>
<html lang="fr">
  {{ partial "head.html" . }}
<body>
<main>
    {{ partial "header.html" . }}
  <section>

      {{ if eq .Type "posts" }}
      <h2 itemprop="name headline">{{ .Title }}</h2>
      <p class="meta">
        <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time> — <a href="impression.html">Version imprimable</a>
        </p>
      {{ end }}

      <span itemprop="articleBody">
        <p>Support utilisé (<a href="/presentations/#/{{ .Params.diapo }}">ouvrir en grand</a>) :</p>
        <iframe src="/presentations/#/{{ .Params.diapo }}" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" frameborder="0"></iframe>
        <p><em>Utilisez les flèches ↓ et ↑ pour naviguer entre les diapositives.</em></p>
        {{ if .Params.notes }}<p class="notes">Prise de notes collective : <a href="{{ .Params.notes }}">{{ .Params.notes }}</a></p>{{ end }}
        <h3>Sommaire</h3>
        {{ .TableOfContents }}
        {{ .Content }}
        <p class="suppra"><a href="{{ .Site.Params.depot }}-/blob/master/content/{{ .File.Path }}">Source de cette page</a></p>
      </span>
       

    </section>
    {{ partial "footer.html" . }}
  </main>
</body>
</html>
