<!doctype html>
<html lang="fr">
  {{ partial "head.html" . }}
<body>
<main>
    {{ partial "header.html" . }}
  <section>

      {{ if eq .Type "posts" }}
      <h2 itemprop="name headline">{{ .Title }}</h2>
      <p class="meta">
        <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
        </p>
      {{ end }}
      {{ if eq .Type "pages" }}
      <h2 itemprop="name headline">{{ .Title }}</h2>
      <p class="meta">
        Date de la version : <time itemprop="dateModified" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time> — <a href="impression.html">Version imprimable</a>
        </p>
      {{ end }}

      <span itemprop="articleBody">
        {{ if .Params.toc }}
        <h3>Table des matières de la page</h3>
        {{ .TableOfContents }}
        {{ end }}
      {{ .Content }}
      <p class="suppra"><a href="{{ .Site.Params.depot }}-/blob/master/content/{{ .File.Path }}">Source de cette page</a></p>
      </span>
       

    </section>
    {{ partial "footer.html" . }}
  </main>
</body>
</html>
