<!doctype html>
<html lang="fr">
  {{ partial "head-impression.html" . }}
<body>
<main>

  <section>
    <h1>{{ .Site.Title }}</h1>

      {{ if eq .Type "posts" }}
      <h2 itemprop="name headline" class="subtitle" id=titre>{{ .Title }}</h2>
      <p class="meta">
        <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
        </p>
      {{ end }}
      {{ if eq .Type "pages" }}
      <h2 itemprop="name headline" class="subtitle" id=titre>{{ .Title }}</h2>
      <p class="meta">
        Date de la version : <time itemprop="dateModified" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
        </p>
      {{ end }}

      <span itemprop="articleBody" class="main-content">
        {{ if .Params.toc }}
        <h3>Table des matières</h3>
        {{ .TableOfContents }}
        {{ end }}
      {{ .Content }}
      <p class="titre-site" id=titre_site>{{ .Site.Params.titrecourt }}</p>
      </span>
       

    </section>
  </main>
</body>
</html>
